@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg); /* 3 vueltas completas (360deg * 3) */
  }
}

.spin-animation {
  animation: spin 1.5s ease-in-out;
}
