.devocionario-section {
  height: calc(var(--vh) * 100); /* Ajuste dinámico de altura */
  position: relative; /* Permite posicionar los elementos dentro de esta sección */
  display: flex; /* Permite centrar el contenido */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.buttons {
  margin-top: 70px;
  display: grid;
  gap: 0.2rem;
}

.button {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px; /* Tamaño del botón */
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: transparent; /* Color del botón */
  border: none;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
}