/* Estilos para el contenedor de scroll */
.scroll-container {
  height: calc(var(--vh) * 100); /* Ajuste dinámico de altura */
  overflow-y: scroll; /* Permite el scroll vertical */
  scroll-snap-type: y mandatory; /* Snap vertical obligatorio */
  position: relative; /* Posicionamiento relativo para el fondo */
  overflow-x: hidden;
}

/* Estilos para las secciones */
.section {
  height: calc(var(--vh) * 100); /* Ajuste dinámico de altura */
  position: relative; /* Permite posicionar los elementos dentro de esta sección */
  scroll-snap-align: start; /* Alinea el inicio de cada sección */
  display: flex; /* Permite centrar el contenido */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

/* Estilos para el contenido de las secciones */
.section-1 {
  position: fixed;
  z-index: 1; /* Asegura que el contenido se muestre por encima del fondo */
  color: white; /* Texto blanco para contrastar con el fondo */
  text-align: center; /* Centra el texto */
  /* No pulsable */
  pointer-events: none;
}

.section-2 {
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Espacio entre los botones */
  pointer-events: none;
  padding-bottom: 105%; 
}

.index-button {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre icono y texto */
  padding: 20px 25px; /* Tamaño del botón */
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #2f5b6a; /* Color del botón */
  border: none;
  border-radius: 22px; /* Bordes redondeados */
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease; /* Transición */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.index-button:hover {
  background-color: #a4cad7; /* Color al pasar el ratón */
  transform: scale(1.05); /* Efecto de zoom */
}

.index-button:active {
  transform: scale(
    1
  ); /* El botón vuelve a su tamaño original al hacer click */
}

.icon {
  width: 24px;
  height: 24px;
  fill: white; /* Color del icono */
}

/* Estilos para el fondo */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%; /* Doble la altura para cubrir ambas secciones */
  pointer-events: none;
}

/* Estilo para el cielo */
.sky {
  position: absolute;
  top: 0; /* Cielo en la parte superior */
  left: 0;
  width: 100%;
  height: 100%; /* Ocupa toda la altura */
  background-color: #a4cad7; /* Color azul del cielo */
}

/* Estilo para las estrellas */
.stars {
  position: absolute;
  top: 0; /* Empieza en la parte superior */
  left: 0;
  width: 100%;
  height: 30%; /* Solo ocupa el 30% de la altura de la primera sección */
  overflow: hidden; /* Oculta las estrellas que se salgan del contenedor */
  pointer-events: none; /* Las estrellas no interferirán con la interacción */
  z-index: 0; /* Asegura que las estrellas estén detrás de las secciones */
}

/* Estrellas individuales */
.star {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8); /* Color blanco con opacidad */
}

/* Estilo para la estrella grande */
.big-star {
  position: fixed;
  top:10%; /* Distancia desde la parte superior */
  right: 15%; /* Distancia desde la derecha */
  z-index: 1; /* Asegura que la estrella grande esté por encima de las demás */
}

#ground-1 {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  z-index: 10;
}

#ground-2 {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  z-index: 11;
}

#people {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  z-index: 12;
}

#ground-3 {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  z-index: 13;
}

.ground-svg {
  width: 100%;
  height: 100%;
  bottom: 0;
}

#ground-continue {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 51%;
  background-color: #172e35;
  z-index: 14;
  pointer-events: auto;
}

.scroll-down {
  position: absolute; /* Para posicionar la flecha en relación a su contenedor */
  bottom: 50.5%; /* Ajusta según el espacio que desees desde el fondo */
  left: 50%; /* Centra horizontalmente */
  margin-left: -16px;
  transform: translateX(-50%); /* Ajusta la posición al centro */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  animation: bounce 3s infinite; /* Añade una animación para llamar la atención */
  z-index: 15; /* Asegura que la flecha esté por encima de todo */
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Levanta la flecha */
  }
  60% {
    transform: translateY(-5px); /* Baja un poco */
  }
}

.ilustracion {
  position: absolute;
  width: 45%;
  bottom: 0%;
  left: 5%;
  z-index: 20;
}