::-webkit-scrollbar {
  width: 0px;
}

/* Estilos para la Tab Bar */
.tabbar {
  display: flex;
  margin: 50px 0;
  gap: 15px;
}
.tab-item {
  flex: 1; /* Asegura que cada tab ocupe el mismo espacio */
  padding: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #333;
  text-align: center;
  transition: background 0.3s;
  border-radius: 15px;
}
.tab-item.selected {
  background-color: #f7e9e9;
  color: #dc2626;
  border-radius: 15px;
}
.tab-content {
  margin: 0;
}
.tab-pane {
  display: none;
  margin: 0 4px;
}
.tab-pane.active {
  display: block;
}

/* Estilos para títulos y subtítulos */
.titulo-dia {
  font-weight: 200;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.titulo-seccion {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.subtitulo-seccion {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Estilos para comentarios */
.comentario-centrado {
  font-weight: 300;
  font-size: 0.85rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #dc2626;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.comentario-izquierda {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1rem;
  text-align: start;
  padding-right: 2rem;
  color: rgb(220, 38, 38);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.comentario-derecha {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1rem;
  text-align: end;
  padding-left: 2rem;
  color: rgb(220, 38, 38);
}

/* Estilos para párrafos y texto */
.parrafo {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;    
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.antifona {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.indentado {
  margin-left: 1rem;
}

.seguido {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.separador {
  margin-top: 3rem;
}

.peticion {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

/* Estilos para texto en rojo */
.red {
  color: rgb(220, 38, 38);
}

/* Estilos para títulos de salmos */
.titulo-salmos {
  font-size: 1.05rem;
  text-align: center;
  font-weight: 500;
  color: rgb(220, 38, 38);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Estilos adicionales */
.cursiva {
  font-style: italic;
}

.titulo-canto {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0;
}

.subtitulo-canto {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.pre {
  white-space: pre;
}

.lista {
  margin-left: 2rem;
  list-style-type: disc;
  padding-left: 0.5rem;
}

.imagen-misterio {
  width: 100%;
}
