---
// Importaciones y configuración
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderComponent from "../components/HeaderComponent.astro";
import BodyLayout from "../layouts/BodyLayout.astro";
---

<BaseLayout title="Carta del Obispo">
  <HeaderComponent title="Carta del Obispo" />
  <BodyLayout>
    <div class="container">
      <h2 class="titulo-seccion">Mira a la Estrella, invoca a María</h2>
      <p class="parrafo">
        El lema de este año para la XXIX peregrinación de jóvenes cordobeses a
        Guadalupe es: <b>“Mira a la Estrella, invoca a María”</b>. Está tomado
        de una oración de <i>san Bernardo</i>, monje cisterciense del siglo XII.
        San Bernardo fue un joven intrépido con una fuerza arrolladora, como
        para comerse el mundo. Con unas ganas enormes de seguir a Jesucristo,
        que él mismo contagió a otros muchos jóvenes. Esa generación fue capaz
        de cambiar el mundo y reformar la Iglesia desde dentro con una vida de
        santidad, de cuyas rentas vivimos todavía. Y en ese ímpetu de reforma,
        María fue su estrella, su referente, su madre buena que nunca le
        abandonó. Suya es esta oración, de la que tomo algunas frases:
      </p>
    </div>
    <div class="cuadro">
      <p class="cita">
        Si se levantan los vientos de las tentaciones, si tropiezas en los
        escollos de las tribulaciones, <b
          >mira a la Estrella, llama a María.</b
        ><br /><br />Si eres agitado por las ondas de la soberbia, si de la
        detracción, si de la ambición, si de la emulación, <b
          >mira a la Estrella, llama a María.</b
        ><br /><br />Si la ira, o la avaricia, o la impureza impelen
        violentamente la navecilla de tu alma, <b>mira a María.</b><br
        /><br />...<br /><br />En los peligros, en las angustias, en las dudas, <b>piensa en María, invoca a María.</b><br /><br /> No se aparte María
        de tu boca, no se aparte de tu corazón; y para conseguir los sufragios de
        su intercesión, no te desvíes de los ejemplos de su virtud.
      </p>
    </div>
    <div class="container">
      <p class="parrafo">
        Pues, eso. Que la peregrinación a Guadalupe te enseñe de una vez por
        todas que María es tu madre buena, que te quiere con locura y que quiere
        y puede alcanzarte de Dios las gracias que necesitas en este momento
        para tu vida, si tú le pides con confianza.<br /><br />Este año, además,
        la Iglesia nos propone el testimonio de un jovencito que se jugó la vida
        y la “perdió” por amor a Jesucristo. Año 925, hace mil cien años. Se
        llama <i>Pelagio</i>, tenía 14 años y cayó en manos del emir Abderramán
        III, que quería abusar de él sexualmente. Pelagio no consintió, rechazó
        todos los halagos y regalos que le hacía y le respondió: “Soy de Cristo,
        soy cristiano y quiero serlo para siempre”, y fue descuartizado,
        arrojando al río Guadalquivir su cabeza, sus brazos y demás miembros.<br
        /><br />El lugar exacto de su martirio es donde hoy se levanta el
        Seminario San Pelagio, por eso lleva su nombre. Es mártir de la castidad
        cristiana en versión masculina, de los pocos mártires que hay en esta
        categoría. Hay muchos más en la versión femenina.<br /><br />La virtud
        de la castidad no ha estado nunca de moda, y menos en nuestro tiempo.
        Sin embargo, es una virtud fundamental de la vida cristiana. Muchos se
        alejan de Dios y de Jesucristo porque no quieren luchar en este campo y
        prefieren dejarse llevar de su gusto y del ambiente. ¿Te has planteado
        que merece la pena luchar por alcanzar y crecer en esta virtud? La
        peregrinación a Guadalupe te va a ayudar también en este tema importante
        de tu vida, y te ayudará sobre todo que acudas a María, que invoques a
        María.<br /><br />Guadalupe quiere ser una experiencia fuerte en tu
        vida, aprovéchala. Acércate a confesar, y quedarás limpio totalmente.
        Acércate a comulgar y abraza a Jesús cuando esté en tu alma. Es amigo
        que nunca falla. Disfruta de una Iglesia joven, de la que formas parte y
        que estos días se te hace palpable. Vive tu fe en grupo, en comunidad.<br
        />
        <br />En este momento de tu vida joven, pregúntale a María, pregúntale a
        Jesús: Señor, qué quieres para mí, a qué vocación me llamas. Y no tengas
        miedo. Como <i>san Bernardo</i>, sé generoso y harás mucho bien a lo
        largo de tu vida. Como <i>san Pelagio</i>, lucha y lucha por ser siempre
        de Cristo, también en el campo de la castidad.<br /><br />Tu obispo te
        anima y te bendice
      </p>
    </div>
  </BodyLayout>
</BaseLayout>

<style>
  .cuadro {
    margin: 30px 0;
    background-color: #e2f4ff;
    border-radius: 10px;
    padding: 20px;
  }

  .container {
    padding: 0 10px;
  }

  .cita {
    font-weight: 300;
    height: min-content;
    font-style: italic;
    padding: 0;
    margin: 0;
  }
</style>
