---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/devocionario.css";
---

<BaseLayout title="Devocionario">
  <div class="container">
    <h1>Devocionario</h1>
    <div class="buttons">
      <button class="button" id="btnLaudes">Laudes</button>
      <button class="button" id="btnVisperas">Vísperas</button>
      <button class="button" id="btnEucaristia">Eucaristía</button>
      <button class="button" id="btnRosario">Rosario</button>
      <button class="button" id="btnAngelus">Angelus</button>
      <button class="button" id="btnExamen">Examen de conciencia</button>
    </div>
  </div>
</BaseLayout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const btnLaudes = document.getElementById("btnLaudes");
    const btnVisperas = document.getElementById("btnVisperas");
    const btnEucaristia = document.getElementById("btnEucaristia");
    const btnRosario = document.getElementById("btnRosario");
    const btnAngelus = document.getElementById("btnAngelus");
    const btnExamen = document.getElementById("btnExamen");

    if (
      !btnLaudes ||
      !btnVisperas ||
      !btnEucaristia ||
      !btnRosario ||
      !btnAngelus ||
      !btnExamen
    ) {
      throw new Error("Could not find one of the buttons");
    }

    let dia;

    const today = new Date();

    const date = today.getDate();
    const month = today.getMonth();
    const year = today.getFullYear();

    if (year < 2024 || (year === 2024 && month < 9) || (year === 2024 && month === 9 && date < 19)) {
      dia = "viernes";
    } else if (year === 2024 && month === 9 && date === 19) {
      dia = "sabado";
    } else {
      dia = "domingo";
    }

    btnLaudes.addEventListener("click", () => {
      window.location.href = "/devocionario/liturgia_de_las_horas/laudes/" + dia;
    });

    btnVisperas.addEventListener("click", () => {
      window.location.href = "/devocionario/liturgia_de_las_horas/visperas/" + dia;
    });

    btnEucaristia.addEventListener("click", () => {
      window.location.href = "/devocionario/eucaristia/" + dia;
    });

    btnRosario.addEventListener("click", () => {
      window.location.href = "/devocionario/rosario/" + dia;
    });

    btnAngelus.addEventListener("click", () => {
      window.location.href = "/devocionario/angelus";
    });

    btnExamen.addEventListener("click", () => {
      window.location.href = "/devocionario/examen_de_conciencia";
    });

    // Ajustar la altura dinámica
    function setVH() {
      var vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty("--vh", `${vh}px`);
    }

    setVH();
    window.addEventListener("resize", setVH);
  });
</script>
