---
import IndexSection1Component from "../components/IndexSection1Component.astro";
import IndexSection2Component from "../components/IndexSection2Component.astro";
import IndexBackgroundComponent from "../components/IndexBackgroundComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Guadalupe XXIX">
  <div class="scroll-container">
    <IndexBackgroundComponent />
    <IndexSection1Component />
    <IndexSection2Component />
  </div>

  <script>
    function setVH() {
      var vh = window.innerHeight * 0.01;
      var vhpx = `${vh}px`;
      document.documentElement.style.setProperty('--vh', vhpx);
    }

    setVH();
    window.addEventListener('resize', setVH);
  </script>
</BaseLayout>