---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Peregrinación a Guadalupe">
    <!-- boton a la pagina devocionario/liturgia_de_las_horas -->
    <a href="/devocionario/liturgia_de_las_horas" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Liturgia de las Horas</a>
</BaseLayout>