---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Peregrinación a Guadalupe">
    <!-- botones a la pagina devocionario y ubicaciones -->
    <div class="flex justify-center">
        <a href="/devocionario" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Devocionario</a>
        <a href="/ubicaciones" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ubicaciones</a>
    </div>
</BaseLayout>