---
import IndexSection1Component from "../components/IndexSection1Component.astro";
import IndexSection2Component from "../components/IndexSection2Component.astro";
import IndexBackgroundComponent from "../components/IndexBackgroundComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ObispoButton from "../components/ObispoButtonComponent.astro";
---

<BaseLayout title="Guadalupe XXIX">
  <div class="scroll-container" id="scroll-container">
    <ObispoButton />

    <IndexSection1Component />
    <IndexSection2Component />
    <IndexBackgroundComponent />
  </div>

  <script>
    function setVH() {
      var vh = window.innerHeight * 0.01;
      var vhpx = `${vh}px`;
      document.documentElement.style.setProperty("--vh", vhpx);
    }

    setVH();
    window.addEventListener("resize", setVH);

    const scrollContainer = document.getElementById("scroll-container");
    const ground1 = document.getElementById("ground-1");
    const ground2 = document.getElementById("ground-2");

    if (
      !scrollContainer ||
      !ground1 ||
      !ground2
    ) {
      throw new Error("Could not find one of the elements");
    }

    const scrollContainerHeight = scrollContainer.clientHeight;

    scrollContainer.addEventListener("scroll", () => {
      const scroll = scrollContainer.scrollTop;
      var normalizedScroll = scroll / scrollContainerHeight;

      if (normalizedScroll > 1) {
        normalizedScroll = 1;
      }

      const newBottomValueGround1 = 50 + normalizedScroll * -4;
      const newBottomValueGround2 = 50 + normalizedScroll * -2;

      ground1.style.bottom = `${newBottomValueGround1}%`;
      ground2.style.bottom = `${newBottomValueGround2}%`;
    });
  </script>
</BaseLayout>
