---
import { url } from "inspector";
import HeaderComponent from "../components/HeaderComponent.astro";
import UbicacionComponent from "../components/UbicacionComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BodyLayout from "../layouts/BodyLayout.astro";

const alia = [
  {
    nombre: "Parroquia",
    url: "https://maps.app.goo.gl/tXsPgw2EM2Qbh9zu6",
    imagen: "/assets/ubicaciones/iglesia-alia.jpg",
  },
  {
    nombre: "Pabellón",
    url: "https://maps.app.goo.gl/6BZA9HzgdQEgKqY66",
    imagen: "/assets/ubicaciones/pabellon-alia.png",
  },
  {
    nombre: "Casa de la Cultura",
    url: "https://maps.app.goo.gl/ZbEPBqGKoWSmuXnA9",
    imagen: "/assets/ubicaciones/casa-cultura.png",
  },
  {
    nombre: "Teleclub",
    url: "https://maps.app.goo.gl/5vegPeAvtMkorAj1A",
    imagen: "/assets/ubicaciones/teleclub.jpeg",
  },
  {
    nombre: "Gimnasio",
    url: "https://maps.app.goo.gl/9G7VFhssLfYqj4nj7",
    imagen: "/assets/ubicaciones/gimnasio-alia.png",
  }
];


const guadalupe = [
  {
    nombre: "Monasterio",
    url: "https://maps.app.goo.gl/tMPLkBDvs4dudLMy9",
    imagen: "/assets/ubicaciones/monasterio.jpg",
  },
  {
    nombre: "Pabellón",
    url: "https://maps.app.goo.gl/1agCqXMM2Hc34LCn7",
    imagen: "/assets/ubicaciones/pabellon-guadalupe.png",
  },
  {
    nombre: "Auditorio",
    url: "https://maps.app.goo.gl/HUSMaTRn8vXMJtpr9",
    imagen: "/assets/ubicaciones/auditorio.png",
  },
  {
    nombre: "Colegio",
    url: "https://maps.app.goo.gl/Kdwcwd8eHPdgFXNf9",
    imagen: "/assets/ubicaciones/colegio.jpeg",
  },
  {
    nombre: "Autobuses",
    url: "https://maps.app.goo.gl/hKD1hM1zkH1ELXuY9",
    imagen: "/assets/ubicaciones/autobuses.png",
  }
];
---

<BaseLayout title="Ubicaciones">
  <HeaderComponent title="Ubicaciones" />
  <BodyLayout>
    <h2 class="titulo-seccion">Alía</h2>
    <div class="ubicaciones-container">
      <div class="ubicaciones-grid">
        {alia.map((ubi, index) => <UbicacionComponent ubi={ubi} />)}
      </div>
    </div>
    <h2 class="titulo-seccion">Guadalupe</h2>
    <div class="ubicaciones-container">
      <div class="ubicaciones-grid">
        {guadalupe.map((ubi, index) => <UbicacionComponent ubi={ubi} />)}
      </div>
    </div>
  </BodyLayout>
</BaseLayout>

<style>
  .ubicaciones-container {
    width: 100%;
    margin-top: 20px;
  }
  
  .ubicaciones-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; /* Centra el texto */
  }
  
  .ubicaciones-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
</style>
