---

---

<!-- Drawer -->
<div id="drawer">
  <div class="drawer__content">
        <button
          class="index-button"
          onclick="window.location.href='/carta_del_obispo'"
          oncontextmenu="return false;"
        >
          Carta del Obispo
        </button>
        <button
          class="index-button"
          onclick="window.location.href='/ubicaciones'"
          oncontextmenu="return false;"
        >
          Cancionero PDF
        </button>
      </div>
</div>

<style>
  .index-button {
    align-items: center;
    background-color: #2f5b6a;
    border-radius: 22px;
    border: none;
    color: white;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
    outline: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .drawer__content {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    gap: 20px;
  }
</style>
