---
// Header.astro
interface Props {
  title: string;
  backUrl: string;
}

const { title, backUrl } = Astro.props;
---

<header class="header" data-backurl={backUrl}>
  <div class="recuadro">
    <button
      class="back-button"
      onclick={`window.location.href='${backUrl}'`}
      oncontextmenu="return false;"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M15 18l-6-6 6-6"></path>
      </svg>
    </button>
  </div>
  <h1 class="header-title">{title}</h1>
  <div class="recuadro"></div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 84px;
  }

  .back-button {
    outline: none;
    border: none;
    background-color: transparent;
  }

  .recuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 24px;
  }

  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }

  svg {
    width: 24px;
  }
</style>
