---
import DrawerButtonComponent from "./DrawerButtonComponent.astro";
---

<section class="section">
  <DrawerButtonComponent />
  <div class="section-1">
    <h1>Guadalupe XXIX</h1>
    <h2>Mira a la Estrella, invoca a María</h2>
  </div>
</section>
