---
---

<section class="section">
  <div class="section-1">
    <h1 class="index-titulo">Guadalupe XXIX</h1>
    <h2 class="index-subtitulo">Mira a la Estrella, invoca a María</h2>
  </div>
</section>



<style>
  .index-titulo {
  font-size: 2.2rem; /* Tamaño grande para el título */
  margin-bottom: 0rem; /* Espacio entre el título y el subtítulo */
  margin-top: 16rem;
}

.index-subtitulo {
  margin-top: 0rem; /* Espacio entre el título y el subtítulo */
  font-size: 1.2rem; /* Tamaño mediano para el subtítulo */
  font-weight: 500; /* Grosor de la fuente */
}
</style>