<section class="section">
  <div class="section-2">
    <button class="index-button" onclick="window.location.href='/devocionario'" oncontextmenu="return false;">
      <svg
      class="icon"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
        ><path
          d="M266.46-183.69v-544.8q0-25.41 17.42-42.82 17.41-17.42 42.77-17.42h306.7q25.36 0 42.77 17.42 17.42 17.41 17.42 42.82v544.8L480-268l-213.54 84.31Z"
        ></path></svg
      >
      Devocionario
    </button>
    <button class="index-button" onclick="window.location.href='/ubicaciones'" oncontextmenu="return false;">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="white"
        width="24px"
        height="24px"
      >
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"
        ></path>
      </svg>
      Ubicaciones
    </button>
  </div>
</section>