---
// LecturaComponent.astro
interface Props {
  title: string;
  description: string;
  cita: string;
  texto: string; // Recibe un string con <br>
}

const { title, description, cita, texto } = Astro.props;

const parrafos = texto.split('<br>'); // Divide el texto en párrafos

---

<div class="mb-10">
  <h2 class="text-xl font-semibold mb-3">{title}</h2>
  <p class="text-red-700 text-end mb-5 text-sm">{cita}</p>
  <p class="text-red-700 text-center mb-7 text-sm">{description}</p>

  {parrafos.map((parrafo) => (
    <p class="text-gray-700 leading-7 mb-5">{parrafo}</p>
  ))}
</div>