---
---

<button id="obispo-button" oncontextmenu="return false;"  onclick="window.location.href = '/carta_del_obispo';">
  <svg
    height="28px"
    width="28px"
    version="1.1"
    id="_x32_"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0 {
        fill: #172e35;
      }
    </style>
    <g>
      <path
        class="st0"
        d="M256,0C198.52,0,26.115,209.461,26.115,269.967C26.115,330.472,95.08,512,95.08,512h321.831
		c0,0,68.974-181.528,68.974-242.033C485.885,209.461,313.472,0,256,0z M376.158,329.147h-88.814v109.71h-62.695v-109.71h-88.814
		v-62.695h88.814v-67.927h62.695v67.927h88.814V329.147z"
      ></path>
    </g>
  </svg>
</button>
