---
---

<div class="background"></div>

<style>
  .background {
    width: 100%; /* Cambiado a 100% para ocupar todo el contenedor */
    height: 100%; /* Cambiado a 100% para ocupar todo el contenedor */
    background: #1a1a1a; /* Color de fondo */
    position: absolute; /* Asegura que ocupe todo el espacio de la sección */
    top: 0; /* Alinea el fondo en la parte superior */
    left: 0; /* Alinea el fondo en la parte izquierda */
    z-index: 0; /* Asegúrate de que el fondo esté detrás del contenido */
  }
</style>
