---
// Importaciones y configuración
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderComponent from "../../components/HeaderComponent.astro";
import BodyLayout from "../../layouts/BodyLayout.astro";
---

<BaseLayout title="Consagración">
  <HeaderComponent title="Consagración" backUrl="/devocionario" />
  <BodyLayout>
    <h1 class="titulo-seccion">Consagración a la Virgen María</h1>
    <p class="parrafo">
      ¡Oh tú, quien quiera que seas, que te sientes lejos de tierra firme,
      arrastrado por las olas de este mundo, no desvíes los ojos de la luz de
      esta estrella!. Si el viento de las tentaciones se levanta, si el escollo
      de las tribulaciones se interpone en tu camino, mira la estrella, invoca a
      María. Si eres balanceado por las olas del orgullo, de la ambición, de la
      maledicencia, de la envidia, mira la estrella, invoca a María. Si la
      cólera, la avaricia, los deseos impuros, sacuden la frágil embarcación de
      tu alma, levanta los ojos a María. Si, perturbado por el recuerdo de la
      enormidad de tus crímenes, confuso a la vista de las torpezas de tu
      conciencia, aterrorizado por el miedo del Juicio, comienzas a arrastrarte
      por el torbellino de la tristeza, a dejarte despeñar en los abismos de la
      desesperación, piensa en María. En los peligros, en las angustias, en las
      dudas, piensa en María, invoca a María. Que su nombre nunca se aleje de
      tus labios, jamás abandone tu corazón; y para alcanzar el socorro de su
      intercesión, no olvides los ejemplos de su vida.
      <p class="parrafo">
        Siguiéndola no te extraviarás; rezándole, no desesperarás; pensando en
        Ella evitarás todo error. Si Ella te sustenta, no te caerás; si Ella te
        protege, nada tendrás que temer; si Ella te conduce no te cansarás, si
        Ella te es favorable, alcanzarás el fin. Y así verificarás, por tu
        propia experiencia, con cuánta razón fue dicho: “Y el nombre de la
        Virgen era María”.
      </p>
      <p class="parrafo cursiva">
        Por eso nos consagramos ahora, todos los jóvenes, a ti: <span
          class="negrita"
          >María, Madre mía, me entrego por completo a ti como tu posesión y
          propiedad. Haz de mí, por favor, de todo lo que soy y tengo, lo que
          más te agrade. Permíteme ser un instrumento digno en tus manos
          inmaculadas y misericordiosas para ofrecer la máxima gloria posible a
          Dios. Amén.</span>
      </p>
    </p>
  </BodyLayout>

  <style>
    .negrita {
      font-weight: 600;
    }
  </style></BaseLayout
>
