---
// Importaciones y configuración
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeaderComponent from '../../components/HeaderComponent.astro';
import BodyLayout from '../../layouts/BodyLayout.astro';
---

<BaseLayout title="Examen de conciencia">
  <HeaderComponent title="Confesión" />
  <BodyLayout>
    <p class="parrafo">Señor Jesús, que cuando Pedro te negó tres veces, lo miraste con amor misericordioso para que llorase su pecado y se convirtiese a Ti de todo corazón; mírame, ilumíname y mueve mi corazón para que reconozca mis pecados, y arrepentido de ellos, me convierta a Ti y te siga fielmente en adelante. Virgen María, abre mi corazón a la verdad de mí mismo. Haz que en este examen me vea como me ve el Señor: a la luz de su mirada</p>
    <h2 class="titulo-seccion">Amarás a Dios sobre todas las cosas...</h2>
    <p class="parrafo">¿Creo todo lo que Dios ha revelado y nos enseña la Iglesia Católica? ¿He dudado o negado las verdades de la fe católica? ¿Doy testimonio de mi fe entre mis amigos?</p>
    <p class="parrafo">¿Hago con desgana las cosas que se refieren a Dios? ¿Rezo con frecuencia y atención? ¿Agradezco a Dios tantas cosas buenas que me ha dado?</p>
    <p class="parrafo">¿Me he acercado indignamente a recibir algún sacramento? ¿He callado por vergüenza algún pecado mortal en confesiones anteriores?</p>
    <p class="parrafo">¿He dicho palabras irreverentes? ¿He jurado sin verdad o sin necesidad, sin prudencia o por cosas de poca importancia?</p>
    <p class="parrafo">¿He faltado a Misa, o la he vivido mal, los domingos o festivos, por mi culpa y sin una razón grave? ¿Vivo los días de fiesta y fines de semana como cristiano?</p>
    <h2 class="titulo-seccion">… y al prójimo como a ti mismo.</h2>
    <p class="parrafo">¿Manifiesto respeto y cariño a mis padres? ¿Les obedezco con prontitud y alegría? ¿Colaboro en las tareas de la casa? ¿Doy buen ejemplo a mis hermanos y les ayudo en sus necesidades? ¿Riño con ellos o los insulto?</p>
    <p class="parrafo">¿Respeto a los profesores y autoridades?</p>
    <p class="parrafo">¿Respeto mi vida y la de los demás? ¿He agredido a personas o participado en peleas? ¿Difundo el cuidado de la vida, también de la de los no nacidos?</p>
    <p class="parrafo">¿He dañado o puesto en peligro mi vida o mi salud: incumpliendo las normas de tráfico, o con desorden en el horario de descanso nocturno?</p>
    <p class="parrafo">¿He bebido o comido en exceso, me he emborrachado o tomado drogas?</p>
    <p class="parrafo">¿Deseo el bien a los demás? ¿Los he perjudicado con engaños, trampas o amenazas? ¿Tengo envidia, y me molesto cuando a otros les salen las cosas bien o me alegro cuando les salen mal?</p>
    <p class="parrafo">¿Me tomo en serio la amistad, o por el contrario me conformo con un trato superficial y frívolo? ¿Soy leal y sincero con mis amigos? ¿Rezo por ellos y perdono sus defectos?</p>
    <p class="parrafo">¿Vivo la castidad? ¿He realizado actos impuros? ¿Solo o con otras personas? ¿He consentido pensamientos, deseos o sensaciones impuras?</p>
    <p class="parrafo">¿He visto vídeos, programas, revistas o imágenes indecentes? ¿He asistido a fiestas, diversiones o espectáculos que fácilmente me incitaban a pecar? ¿He incitado a otros a hacer el mal?</p>
    <p class="parrafo">¿He tomado cosas que no son mías? ¿Las he devuelto?</p>
    <p class="parrafo">¿Soy generoso, y pongo mis cosas al servicio de los demás, o estoy excesivamente apegado a ellas? ¿Me quejo cuando no tengo lo que quiero o me falta alguna comodidad? ¿He malgastado el dinero por capricho, vanidad o envidia?</p>
    <p class="parrafo">¿Colaboro de algún modo con las necesidades de la Iglesia y de la sociedad? ¿Pienso en tantas personas que padecen hambre, enfermedad o soledad y procuro ayudarles en la medida de mis posibilidades?</p>
    <p class="parrafo">¿Estudio con orden e intensidad y cumplo con mis deberes de estudiante? ¿Procuro acabar bien el trabajo? ¿He estorbado el estudio de los demás, interrumpiéndoles, dificultando que cumplan su horario o dando mal ejemplo?</p>
    <p class="parrafo">¿He dicho mentiras? ¿Pienso mal del prójimo y juzgo sin fundamento o sin necesidad? ¿Hablo mal de los demás: inventando falsedades sobre su comportamiento, revelando sin necesidad sus defectos graves o haciendo eco a chismes? ¿He reparado el daño que he causado con esas conversaciones?</p>
  </BodyLayout>
</BaseLayout>